---
import Image from 'astro/components/Image.astro';
import hero from '../../../assets/images/allgemein-hero.png';
import cat from '../../../assets/images/pfoten.png';

const {
  h1Text = 'Allgemeinmedizin für die Gesundheit Ihres Lieblings',
  paragraphText = 'Wir begleiten Ihr Tier von der Welpenzeit bis ins Seniorenalter mit gründlichen Vorsorgeuntersuchungen, Impfungen und individueller Beratung. Mit moderner Diagnostik und viel Einfühlungsvermögen schaffen wir die Basis für ein gesundes, glückliches Tierleben.',
  imageSrc = hero,
  altText = 'Tierarzt untersucht eine Katze',
} = Astro.props;
---

<!-- ============================================ --><!--                    Hero                      --><!-- ============================================ -->
<section id="allgemeinmedizin-hero">
  <div class="mx-auto flex w-full max-w-screen-xl items-center justify-center gap-16 py-28">
    <div class="flex flex-col gap-12">
      <h1 class="text-6xl/tight">{h1Text}</h1>
      <p class="text-base-content/90 text-lg leading-relaxed">
        {paragraphText}
      </p>
      <button class="btn btn-primary w-1/2">Jetzt Vorsorge-Termin sichern</button>

      <Image
        class="-translate-x-12 -translate-y-12"
        src={cat}
        alt="Katze hinterlässt Pfotenabdrücke"
        width="1000"
        height="200"
      />
    </div>
    <!--Hero Image-->
    <Image
      src={imageSrc}
      alt={altText}
      width={600}
      height={730}
      format="webp"
      class="relative left-26 rounded-4xl shadow-lg"
    />
    <!--Circle Background-->
    <!--Download the SVG from the CDN by copy ad pasting its link into your browser and saving it. Then the cs-circle fill property should override it and set it to the primary color of your site-->
    <img
      class="absolute -z-10"
      decoding="async"
      fetchpriority="high"
      src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/noise-bg.svg"
      alt="graphic"
      width="758"
      height="758"
    />
  </div>
</section>
<!--White curve-->
<svg
  class="cs-wave -mb-16"
  width="1920"
  height="167"
  viewBox="0 0 1920 167"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M1920 167H0V0C111.116 45.3334 456.485 136 951 136C1445.52 136 1803.21 45.3334 1920 0V167Z"
    fill="white"
  >
  </path>
</svg>
<svg
  class="cs-wave mt-12 rotate-180"
  width="1920"
  height="167"
  viewBox="0 0 1920 167"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M1920 167H0V0C111.116 45.3334 456.485 136 951 136C1445.52 136 1803.21 45.3334 1920 0V167Z"
    fill="white"
  >
  </path>
</svg>

<style>
  /*-- -------------------------- -->
<---            Hero            -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #hero-2410 {
      /* 180px - 200px top */
      /* 60px - 120px bottom */
      padding: clamp(11.25rem, 16.82vw, 12.5rem) 1rem clamp(3.75rem, 8vw, 7.5rem);
      /* clips the svg wave from overflowing */
      overflow: hidden;
      position: relative;
      z-index: 1;
    }
    #hero-2410:before {
      /* background color */
      content: '';
      width: 100%;
      height: 100%;
      background: var(--primary);
      opacity: 0.2;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    #hero-2410 .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 3rem;
    }
    #hero-2410 .cs-content {
      max-width: 34.375rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    #hero-2410 .cs-topper {
      font-size: 1rem;
      line-height: 1.2em;
      text-transform: uppercase;
      text-align: inherit;
      letter-spacing: 0.1em;
      font-weight: 700;
      color: var(--secondary);
      margin-bottom: 0.25rem;
      display: block;
    }
    #hero-2410 .cs-title {
      /* 39px - 72px */
      font-size: clamp(2.4375rem, 5vw, 4.5rem);
      font-weight: 900;
      line-height: 1.2em;
      text-align: center;
      /* 23 characters including spaces wide */
      max-width: 23ch;
      margin: 0 0 1rem 0;
      color: var(--headerColor);
      position: relative;
    }
    #hero-2410 .cs-text {
      /* 16px - 20px */
      font-size: clamp(1rem, 1.5vw, 1.25rem);
      line-height: 1.5em;
      text-align: center;
      width: 100%;
      max-width: 33.1875rem;
      /* 28px - 40px */
      margin: 0 0 clamp(1.75rem, 3.92vw, 2.5rem) 0;
      color: var(--bodyTextColor);
    }
    #hero-2410 .cs-button-solid {
      --gradientmix: color-mix(in lab, var(--primary), black 49%);
      font-size: 1rem;
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      color: #fff;
      white-space: nowrap;
      margin: 0;
      min-width: 9.375rem;
      padding: 0 1.75rem;
      background-color: var(--primary);
      background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, var(--gradientmix) 99%);
      background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, var(--gradientmix) 99%);
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, var(--gradientmix) 99%);
      border-radius: 6.25rem;
      overflow: hidden;
      display: inline-block;
      position: relative;
      z-index: 1;
    }
    #hero-2410 .cs-button-solid:before {
      content: '';
      width: 0%;
      height: 100%;
      border-radius: 0.25rem;
      background: var(--secondary);
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width 0.3s;
      opacity: 1;
    }
    #hero-2410 .cs-button-solid:hover:before {
      width: 100%;
    }
    #hero-2410 .cs-image-group {
      /* we use ems for everything inside the cs-image-group so they pull their value for em from the cs-image-group container that we set.  This min-max property lets us tie the font size to the view width of the screen and grows proportionally with every pixel wide the screen gets until the value the view width units = .75em, resets at small desktop */
      font-size: min(1.7vw, 0.55rem);
      width: 52.1875em;
      height: 52.25em;
      /* prevents flexbox from squishing it */
      flex: none;
      position: relative;
      z-index: 2;
    }
    #hero-2410 .cs-picture {
      width: 39.6875em;
      height: 52.25em;
      display: flex;
      align-items: flex-end;
      position: absolute;
      top: 0;
      right: 0;
    }
    #hero-2410 .cs-picture img {
      width: auto;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      /* make this number negative if you have a wide image that gets cut off on the right and want to move it ove to the left more */
      left: 0;
    }
    #hero-2410 .cs-circle {
      width: 47.375em;
      height: auto;
      position: absolute;
      right: 0;
      bottom: 1.125em;
      z-index: -1;
    }
    #hero-2410 .cs-circle circle {
      fill: var(--primary);
      opacity: 0.2;
    }
    #hero-2410 .cs-arrow {
      /* 60px - 130px */
      width: 4.75em;
      height: auto;
      position: absolute;
      bottom: 11.375em;
      left: 6.4375em;
      transform: rotate(28deg);
    }
    #hero-2410 .cs-no-no {
      width: 10.3125em;
      height: auto;
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    #hero-2410 .cs-wave {
      width: 100%;
      height: auto;
      display: block;
      position: absolute;
      bottom: -1px;
      left: 0;
    }
  }
  /* Small Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #hero-2410 {
      text-align: left;
    }
    #hero-2410 .cs-container {
      flex-direction: row;
      justify-content: space-between;
    }
    #hero-2410 .cs-content {
      width: 40vw;
      /* prevents flex-box from squishing it */
      flex: none;
      align-items: flex-start;
    }
    #hero-2410 .cs-title,
    #hero-2410 .cs-text {
      text-align: left;
    }
    #hero-2410 .cs-image-group {
      font-size: min(1vw, 1rem);
    }
  }
  /* Large Desktop - 1400px */
  @media only screen and (min-width: 87.5rem) {
    #hero-2410 {
      padding-bottom: 10vw;
    }
  }
</style>
